    /* For map:  Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #0077b3;
    }
    
    /*header*/
    .header {
        background-color: #0077b3;
        height: 10%;
    }
    .header_bar {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .header_bar li {
        height: 100%;
        display: inline-block;
        font-size: 5vh;
        font-weight: bold;
        color: #ffffff;
    }
    
    /* Dropdown Button */
    .dropbtn {
        background-color: inherit;
        border: none;
        cursor: pointer;
        height: 100%;
        display: block;
    }
    
    .dropbtn:hover, .dropbtn:focus {
        background-color: #004466;
    }
    
    #dropbtn_line {
        display: block;
        opacity: 1;
        width: 5vh;
        height: 0.5vh;
        background-color: white;
    }
    
    #dropbtn_space {
        display: block;
        opacity: 1;
        width: 1.5vh;
        height: 1vh;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        opacity: .8;
        min-width: 50vh;
        height: 80vh;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: #ffffff;
        font-size: 3vh;
        padding: 1vh 1.5vh;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: #000000;
    }
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {
        display: block;
    }
    
    /*fooder*/
    .footer {
        background-color: #0077b3;
    }
    .footer p {
        font-size: 1vh;
        color: #ffffff;
        padding: 1vh 0vh 0vh 0vh;
        text-align: center;
    }
    /* Always set the map height explicitly to define the size of the div element that contains the map. */
    #map {
        height: 80%;
    }